---

---

<main class="bg-[url(/hero.webp)] bg-cover bg-center h-screen w-auto">
	<div class="">
		<div
			class="max-w-7xl m-auto pt-50 after:content-[''] after:absolute after:top-40 after:left-40 after:w-130 after:h-115 after:border-16 after:border-violet-400"
		>
			<article class="bg-white z-10 w-fit px-10 py-8 relative">
				<h1
					class="text-4xl text-violet-400 uppercase font-bold mb-4 w-[20ch] text-balance"
				>
					Tu pasión por la música empieza en las nubes
				</h1>
				<p class="text-base text-black mb-8 w-[40ch] text-pretty">
					En Cloud Music llevamos tu talento al siguiente nivel con
					clases de canto, guitarra, piano y teoría musical, guiadas
					por músicos reales y una metodología moderna. ¡Aprende desde
					cero o mejora lo que ya sabes!
				</p>
				<a
					href="/info"
					class="px-6 py-3 bg-violet-500 text-white rounded-lg"
					>SABER MÁS</a
				>
			</article>
		</div>
	</div>
</main>
