---

---

<div
	class="absolute top-3 left-32 z-50 text-white"
	aria-label="Contact Information"
>
	<span aria-label="email" class="mr-20"
		><a href="mailto:luifer991@gmail.com" aria-label="mail"
		></a>luifer991@gmail.com</span
	>
	<span><a href="tel:+573172390532">+57 3172390532</a></span>
	<!-- agregar iconos de redes sociales -->
</div>
